.aside_container {
  flex: 1;
  background-color: white;
  margin-left: 20px;
  border-radius: 10px;
  height: 100%;
  box-shadow: 0px 8px 34px -18px #000000;
}
.subreddits_title {
  margin-left: 10px;
}

@media (max-width: 768px) {
  .aside_container {
    margin: 0 10px;
  }
}
