.container {
  width: 96%;
  border-radius: 2px;
  padding: 0px 20px 10px;
  margin: 10px 0;
  background-color: #fcfcfc;
  transition: box-shadow 0.25s;
}
.container:hover {
  -webkit-box-shadow: 0px 14px 30px -18px rgba(0, 0, 0, 0.31);
  box-shadow: 0px 14px 30px -18px rgba(0, 0, 0, 0.31);
}
.author_container {
  display: flex;
  justify-content: space-between;
}
.author {
  color: #3d5af1;
  font-weight: 700;
}
.publication_time {
  color: #6f6f6f;
  font-style: italic;
}
.comment_body {
  color: #6f6f6f;
  margin: 0;
}
